.mydiv1{
    background-color:#2F8141;
    width:300px;
    height:400px ;
}
.mydiv2{
    background-color: #13513B;
    width:571px;
    height:140px;
}
.mydiv3{
    background-color: #E624BB;
    width:571px;
    height:140px;
}
.mydiv4{
    background-color: #55EF0D;
    width:571px;
    height:140px;
}
